.howwework {
  background: var(--purple);
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
  padding: 30px 20px;
  position: relative;
}

.howwework-pattern-mobile {
  position: absolute;
  right: 0;
  top: 0;
  width: 200px;
}

.howwework-pattern-desktop {
  display: none;
}

@media only screen and (min-width: 601px) {
  .howwework-pattern-mobile {
    display: none;
  }

  .howwework-pattern-desktop {
    display: block;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
  }

  .howwework {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 50px 100px 0;
    padding: 30px 50px;
  }

  .HWW-title {
    flex: 0 1 50%;
    font-size: 1.8em;
    padding: 0;
  }

  .HWW-link {
    font-size: 0.8em;
  }
}