.lowernavbar {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

.category {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.category>p {
  margin: 3px 0;
}

.category>p>a {
  color: #3A3943;
  text-decoration: none;
}

.category>p>a:hover {
  text-decoration: underline;
}

p.category-header {
  color: #838186;
  margin: 40px 0 20px 0;
  text-transform: uppercase;
}

.attribution {
  background: #3E54A3;
  color: white;
  margin-top: 20px;
  padding: 10px 0;
  text-align: center;
}

.attribution>a {
  color: white;
  font-size: 1.1em;
  font-weight: bold;
  text-decoration: none;
}

.attribution>a:hover {
  color: #ED2C49;
}

@media only screen and (min-width: 601px) {
  .lowernavbar {
    flex-direction: row;
    justify-content: space-between;
    margin: 0px auto;
    padding: 0 50px;
  }

  .category {
    align-items: flex-start;
    /* align-items: center; */
    flex: 1 1 25%;
    height: 200px;
    justify-content: start;
  }

}