.lowernavbar {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

.category {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.category>p {
  margin: 3px 0;
}

.category>p>a {
  color: #3A3943;
  text-decoration: none;
}

p.category-header {
  margin: 40px 0 20px 0;
}

.category-header>span>a {
  color: #838186;
  text-decoration: none;
}

.attribution {
  text-align: center;
}

@media only screen and (min-width: 601px) {
  .lowernavbar {
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 50px 50px 50px;
  }

  .category {
    align-items: flex-start;
    flex: 1 1 25%;
    height: 200px;
    justify-content: start;
  }

  .category>p>a:hover {
    text-decoration: underline;
  }
}