.uppernavbar {
  align-items: center;
  background: white;
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  position: relative;
  z-index: 2;
}

#hamburg {
  display: none;
}

.hamburglinks {
  display: flex;
}

.hamburglinks>p {
  align-items: center;
  display: flex;
  margin: 0px 10px;
}

.upperlink {
  color: grey;
  flex: 1;
  text-align: center;
  text-decoration: none;
}

.upperlink:hover {
  color: #3A3943;
}

.upperlink--primary {
  border: 2px solid var(--primary-grey);
  color: var(--primary-grey);
  margin: 0 20px;
}

.upperlink--primary:hover {}

.upperlink--primary>a {
  color: var(--primary-grey);
  height: 100%;
  padding: 10px;
  width: 100%;
}

.upperlink--primary>a:hover {
  background: #2B282F;
  color: white;
}

.mobiledeco {
  width: 0;
}

@media only screen and (min-width: 601px) and (max-width: 700px) {
  .uppernavbar {
    padding: 20px;
  }

  .hamburglinks>p {
    margin: 0 5px;
  }
}

@media only screen and (max-width: 600px) {
  .uppernavbar {
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 0;
    position: sticky;
    top: 0;
    z-index: 1;
  }

  .uppernavbar>a {
    margin-left: 15px;
  }

  label.hamburg {
    background: url("../images/icon-hamburger.svg");
    display: block;
    height: 32px;
    margin: 20px;
    width: 32px;
  }

  #hamburg:checked+label.hamburg {
    background: url("../images/icon-close.svg");
  }

  .hamburglinks {
    color: white;
    flex-direction: column;
    padding: 20px 0 0 0;
  }

  .slider {
    flex: 1 0 100%;
    float: right;
    height: 0;
    opacity: 0;
    transform: translateY(-100%) scale(0);
    transition: all 1s;
  }

  #hamburg:checked~.slider {
    height: calc(100vh - 72px);
    opacity: 1;
    transform: translateY(0%) scale(1);
    display: flex;
    flex-direction: column;
  }

  p.deco-container {
    flex: 1;
    align-items: flex-end;
    margin: 0;
  }

  .mobiledeco {
    width: 100%;
  }

  #hamburg:checked~.slider>.hamburglinks {
    background: var(--purple);
    flex: 1;
  }

  .upperlink {
    color: white;
    padding: 10px;
  }

  .upperlink--primary {
    border: 2px solid white;
    margin: 0 20px;
  }

  .upperlink--primary>a {
    color: white;
  }
}